body {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button {
    margin: 20px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px; 
}

.gridSquare {
    background-color: lightgrey;

}

.gridDraw {
    background-color: black;
}

.gridSquare::before {
    content:'';
    display:block;
    padding-top: 100%;
}